html,
body {
  height: 100%;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: var(--theme-bg);
  position: relative;
  height: auto;
}

pre {
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
}

pre .language-id {
  display: none;
}


/* Photo Swipe */

.pswp__custom-caption {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.pswp-text {
  display: flex;
  font-size: var(--font-size-sm);
  width: 80%;
  min-width: 305px;
  padding: 10px;
  border-radius: 4px;
  background: var(--theme-surface-1);
  color: var(--theme-on-surface-1);
  overflow: hidden;
  justify-content: center;
  opacity: 0.95;
}

.pswp__custom-caption a {
  color: #fff;
  text-decoration: underline;
}

.hidden-caption-content {
  display: none;
}