---
import {
  Button,
  FormInput,
  FormMultiSelect,
  FormTextarea,
} from "@components/odyssey-theme";
import { Icon } from "astro-icon/components";

const interestOptions = [
  { label: "Murals", name: "murals" },
  { label: "Clocks", name: "clocks" },
  { label: "Theme Rooms", name: "themeRooms" },
  { label: "Other", name: "other" },
];
---

<form name="Contact Form" method="POST" action="/contact-thank-you">
  <div class="form-name-input__container">
    <FormInput type="text" label="First Name" name="firstName" />
    <FormInput type="text" label="Last Name" name="lastName" />
  </div>
  <FormInput type="email" label="Email" name="email" />
  <FormMultiSelect
    options={interestOptions}
    legend="What are you interested in?"
  />
  <FormTextarea label="Message" name="Message" />
  <div class="form-submit-button__container">
    <Button customIcon={true}
      >Submit
      <Fragment slot="icon">
        <Icon name="ic:baseline-chevron-right" />
      </Fragment>
    </Button>
  </div>

  <style>
    form {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
    }
    div.form-name-input__container {
      column-count: 2;
    }
    div.form-submit-button__container {
      margin-left: auto;
      margin-right: 2rem;
    }

    button.form-submit-button {
      width: 10rem;
    }
  </style>
</form>
